<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingcrop"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="FlyingCrop"
        android:theme="@style/MaterialDesign"
        android:hardwareAccelerated="true"
        coreApp="true"
        android:sharedUserId="android.uid.system">
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".MainMenu"
            android:label="FlyingCrop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:label="FlyingCrop" >
        </activity>

        <service android:name=".NotificationService" />
        <service android:name=".ButtonService"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <service android:name=".FirstButton" />
        <service android:name=".FirstRun" />
        <service android:name=".FirstNotification" />
        <service android:name=".FirstCrop" />
        <service android:name=".FirstBrush" />

        <fragment
            android:id="@+id/pm_fragment"
            android:name="com.easycrop.ScreenCaptureFragment" />

        <activity
            android:name=".EasyCrop"
            android:excludeFromRecents="true"
            android:label="FlyingCrop"
            android:theme="@style/Theme.Transparent" >
        </activity>

        <service
            android:name=".Stop"
            android:enabled="true"
            android:exported="true" >
        </service>


        <service
            android:name=".Crop"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".Brush"
            android:hardwareAccelerated="true">
        </service>



        <service
            android:name=".RestartBrush"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".BootReciever">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
